# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# testing
coverage/
.vitest/
playwright-report/
test-results/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/db/prisma/*.db
